<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= link_to "Home", root_path %>
	<%= link_to "About", about_path %>

<%= yield %>

</body>
</html>

<!-- This page is like a theme that gets loaded on every single page of the application. Hence you can single source stuff on this page. --> 
